asgiref==3.6.0 ; python_version >= "3.11" and python_version < "4.0"
django==4.2.1 ; python_version >= "3.11" and python_version < "4.0"
djangorestframework-simplejwt==5.2.2 ; python_version >= "3.11" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.11" and python_version < "4.0"
markdown==3.4.3 ; python_version >= "3.11" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.11" and python_version < "4.0"
pyjwt==2.7.0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
